<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <div class="navbar-toggler text-white">&nbsp;</div>

        <h2 class="navbar-brand mb-0 text-white" href="#">BeeMonitor</h2>
        
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-danger" (click)="sair()">
                        <i class="pe-4 py-3 fas fa-sign-out-alt fa-lg"></i><span>Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>