<div id="sidebar" class="vertical-nav overflow-auto">
    <div class="pt-5 px-3 mb-3">
        <div class="media d-flex align-items-center">
            <div class="col-9">
                <div class="media-body ms-2">
                    <h1 class="m-0 text-white">BeeMonitor</h1>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav flex-column mb-0">
        <li class="nav-item nav-item-exit w-100">
            <a class="nav-link text-danger d-flex align-items-center" routerLink="/sair" title="Sair" (click)="sair()">
                <i class="ps-2 pe-4 py-3 fas fa-sign-out-alt fa-lg"></i><span>Sair</span>
            </a>

            <div class="text-center ps-2 pe-4 py-3">
                <span class="text-white m-0">
                    &copy; ProMel - 2021
                </span>
            </div>
        </li>
    </ul>
</div>